 
@import url('./catppuccin.css');

html {
  scroll-behavior: smooth;
}

.title {
  text-align: center;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
#wrap {
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: var(--ctp-frappe-base);
}
.nav-item {
  text-align: center;
}
.nav-item:hover,
a:hover {
		background-color: var(--ctp-frappe-mantle);
		color: var(--ctp-latte-base);
}
.bgrv {
  background-color: var(--ctp-latte-base);
  color: var(--ctp-latte-text);
}

.bgrv a {
  color: var(--ctp-latte-blue);
  text-decoration: underline;
}

.bgrv a:hover {
  color: var(--ctp-latte-blue);
  background-color: var(--ctp-latte-mantle);
}

a {
  color: var(--ctp-frappe-blue);
  text-decoration: underline;
}

a:hover {
  color: var(--ctp-frappe-blue);
  background-color: var(--ctp-frappe-mantle);
}


.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.line:after {
  content: '\A';
  white-space: pre;
}

#box1 {
  display: inline-block;
  vertical-align: baseline; /* here */
}

.gly-rotate-45 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}

.gly-rotate-90 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}